<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      About Page
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <<h1>Best hotel</h1>
  <ion-card>
    This is the best Hotel in Gulu town.<p>Working 24 hours a day and 7 days a week.
  We serve all kinds of food.
  <P> Both local and international food can be got at affordable prices.
    Every body is Welcome.
    </ion-card>
    <ion-card>
      <ion-card-header>
        <h2>OUR SERVICES</h2>
        </ion-card-header>
    <ion-grid>
  <ion-row>
      <ion-col>
      Breakfast
    </ion-col>
    <ion-col>
      Lodging
    </ion-col>
    <ion-col>
      Takaway
    </ion-col>
  </ion-row>

  <ion-row align-items-start>
    <ion-col>
      Swiming Pool
    </ion-col>
    <ion-col>
      Comfernce hall
    </ion-col>
    <ion-col align-self-end>
      Out side catering
    </ion-col>

  </ion-row>

  <ion-row align-items-center>
    <ion-col>
      Wedding and party receptions
    </ion-col>
    <ion-col>
      Coffee shop
    </ion-col>
    <ion-col>
      Internet sercices
    </ion-col>

  </ion-row>
</ion-grid>
</ion-card>
</ion-content>
